@using SoftUni_CarRental.ViewModels.CarCard;
@model CarCardFormViewModel

<div class="text-center row new-center-allCars">
    <div class="card col-4" style="width: 20rem; ">
        <img class="card-img-top" style="width: 18rem;"
             src="@Model.Car.ImageUrl" alt="Car Image">

        <div class="card-body">
            <h5 class="card-title mt-1">@Model.Car.Model</h5>
            <p class="mb-0">Colour: @Model.Car.Colour</p>
            <p class="mb-0">Door count: @Model.Car.DoorsCount</p>
            <p class="mb-0">Passenger count: @Model.Car.PassengersCount</p>
            <p class="mb-0">Price Per Day: @Model.Car.PricePerDay</p>
            <p class="mb-0">Description: @Model.Car.Description</p>
        </div>
        <p>If you want to rent the selected car,you have to confirm with pressing the button Rent</p>
        <a asp-controller="Rent" asp-action="RentNow" asp-route-id="@Model.CarId" class="btn btn-primary">@Model.ButtonLabel</a>
       
    </div>
</div>

