@using SoftUni_CarRental.ViewModels.Rent;
@model AllUserCarsViewModel

<div class="row">
    @foreach (var car in Model.AllCarCards)
    {
        <div class="text-center row new-center-allCars">
            <div class="card col-4" style="width: 20rem; ">
                <img class="card-img-top" style="width: 18rem;"
                     src="@car.Car.ImageUrl" alt="Car Image">

                <div class="card-body">
                    <h5 class="card-title mt-1">@car.Car.Model</h5>
                    <p class="mb-0">Colour: @car.Car.Colour</p>
                    <p class="mb-0">Door count: @car.Car.DoorsCount</p>
                    <p class="mb-0">Passenger count: @car.Car.PassengersCount</p>
                    <p class="mb-0">Price Per Day: @car.Car.PricePerDay</p>
                    <p class="mb-0">Description: @car.Car.Description</p>
                </div>
                <p>
                    If you want to
                    release the car,you have to confirm with pressing the button Release
                </p>
                <a asp-controller="Rent" asp-action="ReleaseNow" asp-route-id="@car.Car.Id" class="btn btn-primary">Release the car</a>
            </div>
        </div>
    }
</div>
